@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.MarginPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Main.cshtml";
}
<style>
    .margin-container
    {
        width: 80%;
        margin: auto;
        height: 250px;
        background-color: gray;
    }
</style>
<div class="margin-container"></div>
<div class="margin-container">
    @CurrentPage.GetGridHtml("grid", "FullWidthGrid")
</div>
<div class="margin-container"></div>

